.spaceBody{
    height: auto;
    width: auto;
    background: #041419;
    position: relative;
}

.messagesButton{
    position: absolute;
    z-index: 100;
    color: white;
    background: #2cc6ff;
    bottom: 0;
    right: 0;
    margin: 2rem;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
}

.notificationPop{
    width: 1rem;
    height: 1rem;
    background-color: rgb(255, 57, 57);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.messagesButton:hover {
    transform: scale(1.1);
    background: #1fb1e5; /* Slightly darker shade for hover */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 12px; /* Stronger shadow on hover */
}

/* Click Effect */
.messagesButton:active {
    transform: scale(0.95); /* Slightly reduce size on click */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px; /* Softer shadow on click */
}

.containerPage{
    background-color: #041419;
    padding: 0;
    padding-left: 6rem; /* remember position */
    margin: 0;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    animation: fadeIn 0.8s ease-in-out; /* Apply the fade-in animation */

    /* Display Options */
    display: flex;
    flex-direction: row;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.profileField {
    margin-bottom: 20px;
}

.profileField label {
    margin-right: 10px;
}

.updateButton {
    background-color: #2cc6ff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.updateButton:hover {
    background-color: #1ea3db;
}

.contentPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    background-color: #041419;
    margin: 0 auto;
    box-sizing: border-box;

    opacity: 1; /* Ensure it's visible after animation */
}

.containerCard{
    padding: 2rem;
    border: grey 1px solid;
    border-radius: 1rem;
    width: 45rem;
    height: auto;
    min-height: 25em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgba(51, 51, 51, .3);

    position: relative;
}

.loadingCard{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 40rem;
    height: auto;
    min-height: 25em;

    position: relative;
}

.spinner {
    border: 4px solid white;
    border-left-color: #2cc6ff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  

.escapeSection{
    color: white;
    position: absolute;
    top: 1rem;
    right: 20px;
}

.escButton{
    color: white;
    background: none; 
    border: none;
    padding: 0;
}

.escapeSection:hover{
    filter: brightness(0.7);
}

.profilePage{
    color: white;
    padding: 0;
    margin: 0;
}

.profilePage h3{
    margin: 0;
}

.editProfileImageHandler{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: rgba(95, 95, 95, 0.2);
    width: 100%;
    height: auto;
    padding: 2rem;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profileImage {
    border: 1px solid #2cc6ff;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover; /* Ensures the image covers the container and remains centered */
    overflow: hidden; /* Ensures no parts of the image overflow outside the container */
    margin-bottom: 1rem;
}


.editImageButtonHandler {
    margin-top: 10px;
}

.uploadLabel {
    display: inline-block;
    padding: 10px;
    border: #2cc6ff 1px solid;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.uploadLabel:hover{
    filter: brightness(.7);
}

.editImageButton {
    display: none; /* Hide the actual file input */
}

.profileDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.styleDetails{
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    color: rgba(255, 255, 255, .6);
}

.editButton{
    background: #4d4c4c;
    border: none;
    color: white;
    border-radius: 5px;
    padding: .5rem;
    width: 4rem;
}

.editButton:hover{
    background: #757474;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: #041419;
    padding: 1rem;
    border-radius: 1rem;
    width: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.modalButtons{
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem;
    font-size: 1rem;
}

.buttonX{
    background: none;
    border: none;
    color: white;
}

.modalHeader{
    color: white;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.modalMessage{
    color:#555;
}


.modalContent p {
    color: #333;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: #041419;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;
}

.modalHeader {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalBody {
    margin-bottom: 1rem;
}

.modalInput {
    width: 90%;
    padding: 8px;
    font-size: 1rem;
    background-color: #333;
    border-radius: 5px;
}

.modalFooter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.saveButton {
    background-color: #2cc6ff;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.cancelButton {
    background-color: #757474;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.closeModalButton {
    background: none;
    position: absolute;
    border: none;
    top: 0;
    right: 0;
    font-size: 1.2rem;
    cursor: pointer;
}
